.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.app-content {
  display: flex;
  flex: 1;
  margin-top: 64px; //header height
}

.app-sidebar {
  width: 250px;
  min-width: 250px;
  height: calc(100vh - 64px);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 64px;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 250px; //sidebar width
  overflow-y: auto;
}

.app-footer {
  padding: 16px;
  text-align: center;
}

//for smaller screens
@media (max-width: 768px) {
  .app-sidebar {
    width: 0;
    &.open {
      width: 250px;
    }
  }

  .main-content {
    margin-left: 0;
  }
}
